---
import { Markdown } from 'astro/components';

const response = await fetch('https://raw.githubusercontent.com/whitep4nth3r/whitep4nth3r/main/README.md');
const text = await response.text();
console.log(text)

---

<section>
    <Markdown content={text} />
</section>

<style>
  img {
    max-width: 100%;
  }
</style>